<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ferrari
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('ferrari')}}">Ferrari</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ferrari F8</a></li>
                  <li><a class="dropdown-item" href="#">Ferrari F458</a></li>
                </ul>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Porshe
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('porsche')}}">Porsche</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Porche-911</a></li>
              <li><a class="dropdown-item" href="#">Porche-Taycan</a></li>
            </ul>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BMW
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('bmw')}}">BMW</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">i520</a></li>
              <li><a class="dropdown-item" href="#">M5</a></li>
            </ul>
        </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>