{% extends 'base.html' %}
{% block content %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.bmw.com.tr/content/dam/bmw/marketTR/common/kampanya/teaser/ocak-2023/main-banner/bmw-5-serisi-desktop.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>520i</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;font-size: larger;"> 100.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='520i')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.ototeknikveri.com/Files/News/Big/16-benzinli-yeni-bmw-520i-fiyati-belli-oldu.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption">
            <h1>520i</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;font-size: larger;"> 200.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='520i')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.motor1.com/images/mgl/koBGWM/s1/bmw-i5-edrive40-2023.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>520i</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;font-size: larger;"> 300.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='520i')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <hr class="margin-top-10">
 
  <div id="myCarousel1" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://static.tcimg.net/vehicles/oem/62d6effc1919bb0f/2023-BMW-M5.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>M5</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;"> 250.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='M5')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.bmw.com.tr/content/dam/bmw/common/all-models/m-series/m5-sedan/2021/Overview/bmw-m5-cs-onepager-sp-desktop.jpg.asset.1627456767989.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption">
            <h1>M5</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: whitesmoke;"> 200.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='M5')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.bmwusa.com/content/dam/bmwusa/common/vehicles/2022/my23/m-models/m5-sedan/overview/mobile/BMW-MY23-M5-Overvieew-Design-01-Mobile.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>M5</h1>
          {% if current_user.is_authenticated : %}
            <p style="color: whitesmoke;"> 150.000$</p>
            
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='M5')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endblock content %}