{% extends 'base.html' %}
{% block content %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Ferrari_F8_Tributo_Genf_2019_1Y7A5665.jpg/1200px-Ferrari_F8_Tributo_Genf_2019_1Y7A5665.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>F8</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;font-size: larger;"> 300.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='F8')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/roa080120fea-ferrari-5-1598543431.jpg?crop=0.862xw:0.727xh;0,0.168xh&resize=1200:*" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption">
            <h1>F8</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;font-size: larger;"> 400.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='F8')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/1062x597/format/jpg/quality/100/https://s.aolcdn.com/os/ab/_cms/2022/04/05044014/Ferrari-F8-Tributo-front-three-quarter1.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>F8</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;font-size: larger;"> 350.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='F8')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <hr class="margin-top-10">
 
  <div id="myCarousel1" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.amalgamcollection.com/cdn/shop/products/M5310-32_-_Ferrari_458_Italia_2009_1.8_Scale_-_Rear_3.4_4000x2677_crop_center.jpg?v=1608049629" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>F458</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: black;"> 250.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='F458')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/2011_Ferrari_458_Italia_DCT_S-A_4.5_Front.jpg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption">
            <h1>F458</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: whitesmoke;"> 200.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='F458')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.bifikir.com/images/SOI/ferrari-458-italia_il3z.jpeg" class="d-block w-100" alt="..." >
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>F458</h1>
            {% if current_user.is_authenticated : %}
            <p style="color: whitesmoke;"> 150.000$</p>
            <p><a  class="btn btn-lg btn-primary" href="{{url_for('buy',caruwant='F458')}}">Buy One</a></p>
            {% endif %}  
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endblock content %}